p{
    letter-spacing: 1.2px;
    line-height: 2rem;

    span{
        font-family:  'Arial Narrow Bold';
        color: blue;
        padding-left: 5px;
    }
}
.ab_me{
  width: 70%;  

}

@media screen and (max-width:600px) {
  .dec_about{
    margin-top: 20px ;
  }
  
}