

.navbar_container{

    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgb(219,219,219);

    .navbar_heading{
       
        .nav_brand_item{
            color: black;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

    .navbar_item_container{

        .nav_item_home_blog{
            padding: 5px;
            .nav_child{
                color: black;
                text-decoration: none;
                font-size: 20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        }
    }
}